<div>
  {% assign tpages = "intro,setup/,demo1/,demo2/,demo3/,demo4/,demo5/,demo6/" | split: "," %}  
  {% assign tnames = "Intro,Setup,Demo 1,Demo 2,Demo 3,Demo 4,Demo 5,Demo 6" | split: "," %}  
  <table>
    <tr>
      {% for tpage in tpages %}
        {% assign tindex = forloop.index0 %}
        {% assign name   = tnames[tindex] %}
        {% assign thref  = tpage | prepend: "/" %}
        {% assign alt    = tpage | append: ".html" %}
        <th class="{% if thref == page.url or tpage == page.url or alt == page.url %}CUR{% endif %}">
          <a href="{{thref | prepend: site.url}}">{{name}} {{page.url}}||{{alt}}</a>
        </th>
      {% endfor %}
    </tr>
  </table>
</div>
