<div>
  <table>
    <tr>
      {% for tnav in site.nav %}
        {% assign alt    = tnav.path | append: ".html" %}
        <th class="{% if tnav.path == page.url or alt == page.url %}CUR{% endif %}">
          <a href="{{tnav.path | prepend: site.url}}">{{tnav.name}}</a>
        </th>
      {% endfor %}
    </tr>
  </table>
</div>

{% assign curi = 1 %}
{% for tnav in site.nav %}
   {% assign alt    = tnav.path | append: ".html" %}
   {% if tnav.path == page.url or alt == page.url %}
     {% assign curi = forloop.index0 %}
   {% endif %}
{% endfor %}
{% assign curp = curi | minus: 1 %}
{% assign curn = curi | plus: 1 %}


<div>
  <a class="button" href="{{site.nav[curp].path}}">&lt;-- {{site.nav[curp].name}}</a>
  <span class="current">{{site.nav[curi].name}}</span>
  <a class="button" href="{{site.nav[curn].path}}">{{site.nav[curn].name}} --&gt;</a>
</div>
